In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sawsu\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sawsu\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sawsu\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sawsu\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sawsu\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sawsu\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
x=pd.read_csv("C:/advpython_pandas/sample_-_superstore1.csv")
x.head(10)

In [ ]:
d=df.grouphy("item_name").agg({'quanlity':'sum'})
e=d.value_counts(ascending=false)

In [3]:
x.tail(10)

NameError: name 'x' is not defined

In [2]:
x.describe(include="all")
# include="all"

NameError: name 'x' is not defined

In [29]:
x.shape

(9994, 21)

In [ ]:
pd.read_csv("")

In [9]:
df.shape[0]
df.shape[0]
df.columns
df.index
d=df.grouphy("item_name").agg({'quality':'sum'})
e=d.sort_values('quality',ascending=False)[:]
e.head(1)

NameError: name 'df' is not defined

In [ ]:
import pandas as pd
print(pd.__version__)

In [1]:
import numpy as np
print(np.__version__)

2.3.1