In [7]:
import numpy as np 
import pandas as pd

<!-- Series dataframe -->

## Series DataFrame. 
* 1D array or column is called Series DataFrame.

In [8]:
Ar=np.array([10,20,30,40])
Ar.dtype
Ar.ndim
type(Ar)

numpy.ndarray

In [10]:
At=[1,2,3,4,5,6,7]
type(At)
# pd.Series(At) #series generated by list.
pd.Series(Ar)  #series generated by numpy array.

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
dic={
    'ram':20,'mohan':56
}
pd.Series(dic)

ram      20
mohan    56
dtype: int64

In [12]:
t=(1,2,3,4,56,76)
pd.Series(t)

0     1
1     2
2     3
3     4
4    56
5    76
dtype: int64

In [15]:
A=[34,53,64,57,59,60,38,73,94,20]
A
B=['cpp','python','java','c#']
s=pd.Series(A)
s

0    34
1    53
2    64
3    57
4    59
5    60
6    38
7    73
8    94
9    20
dtype: int64

In [19]:
s1=pd.Series(B,name='cybrom') 
s1

0       cpp
1    python
2      java
3        c#
Name: cybrom, dtype: object

In [20]:
print(s.size)
print(s1.size)
print(s.dtype)
print(s1.dtype)
print(s.is_unique)
print(s.name)
print(s1.name)
print(s.index)
print(s.values)

10
4
int64
object
True
None
cybrom
RangeIndex(start=0, stop=10, step=1)
[34 53 64 57 59 60 38 73 94 20]

In [24]:
t=(32,46,32,64,35,74,20,46)
st=pd.Series(t)
print(st.values)

[32 46 32 64 35 74 20 46]

In [25]:
print(st.value_counts())

32    2
46    2
64    1
35    1
74    1
20    1
Name: count, dtype: int64

In [39]:
A=[34,56,34,74,85,16,63,20,80,30,25,843,32,687,123,456]
s=pd.Series(A)
s
print(s.sample(3))

10     25
6      63
13    687
dtype: int64

In [40]:
print(s.value_counts())

34     2
56     1
74     1
85     1
16     1
63     1
20     1
80     1
30     1
25     1
843    1
32     1
687    1
123    1
456    1
Name: count, dtype: int64

In [41]:
print(s.sort_values())

5      16
7      20
10     25
9      30
12     32
0      34
2      34
1      56
6      63
3      74
8      80
4      85
14    123
15    456
13    687
11    843
dtype: int64

In [42]:
print(s.sort_index())

0      34
1      56
2      34
3      74
4      85
5      16
6      63
7      20
8      80
9      30
10     25
11    843
12     32
13    687
14    123
15    456
dtype: int64

In [43]:
print(s.sort_values().head(1).values[0])

16

### customized index

In [44]:
score=[54,60,63,27,48,95,63]
Name=['a','b','c','d','e','f','g']
s=pd.Series(score,index=Name)
s

a    54
b    60
c    63
d    27
e    48
f    95
g    63
dtype: int64

In [45]:
A=[23,53,56,75,34,56,75,43,64,75,35,45,96,33,64,24]
s=pd.Series(A)

In [46]:
D=np.array([2,4,np.nan,5,6,np.nan])
print(D)
SD=pd.Series(D)
print(SD.isnull())
print(SD.hasnans)
print(SD.notnull())
print(SD.unique()) 
print(SD.nunique())

[ 2.  4. nan  5.  6. nan]
0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool
True
0     True
1     True
2    False
3     True
4     True
5    False
dtype: bool
[ 2.  4. nan  5.  6.]
4

In [47]:
print(len(dir(SD)))

421

### TypeConversion

In [49]:
list(SD)

[2.0, 4.0, nan, 5.0, 6.0, nan]

In [50]:
tuple(SD)

(2.0, 4.0, nan, 5.0, 6.0, nan)