In [36]:
import pandas as pd  
import numpy as np

* dataframe:Collection of series.
* To create DataFrame:List,dict,read_csv,etc.

In [37]:
# using List 
Lt=[['A','B','C','D'],[44,25,74,55]]
Lt
pd.DataFrame(Lt)
pd.DataFrame(Lt,columns=['sum','mon','tue','wed'])

  sum mon tue wed
0   A   B   C   D
1  44  25  74  55

In [38]:
#Using Dictionary
Dt={'Name':['amit','rohan','mohan','aman'],'Score':[23,42,54,55]}
Dt
pd.DataFrame(Dt)

    Name  Score
0   amit     23
1  rohan     42
2  mohan     54
3   aman     55

In [39]:
df=pd.read_csv("D:/Ad_py_lib.csv/ml_csv/house.csv")
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [40]:
df.size

353412

In [41]:
type(df)

pandas.core.frame.DataFrame

In [42]:
df.dtypes

POSTED_BY                 object
UNDER_CONSTRUCTION         int64
RERA                       int64
BHK_NO.                    int64
BHK_OR_RK                 object
SQUARE_FT                float64
READY_TO_MOVE              int64
RESALE                     int64
ADDRESS                   object
LONGITUDE                float64
LATITUDE                 float64
TARGET(PRICE_IN_LACS)    float64
dtype: object

In [43]:
df.shape

(29451, 12)

In [44]:
df.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE',
       'LATITUDE', 'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [45]:
df['POSTED_BY']

0         Owner
1        Dealer
2         Owner
3         Owner
4        Dealer
          ...
29446     Owner
29447     Owner
29448    Dealer
29449     Owner
29450    Dealer
Name: POSTED_BY, Length: 29451, dtype: object

In [25]:
type(df['POSTED_BY'])

pandas.core.series.Series

In [27]:
type(df)

pandas.core.frame.DataFrame

In [29]:
print(df['POSTED_BY'].dtype)

object

In [31]:
print(df['RERA'].dtype)

int64

In [48]:
df['RERA'].astype('int32')
df['RERA']=df['RERA'].astype('int')

In [49]:
import pandas as pd

print(df.memory_usage())

Index                       132
POSTED_BY                235608
UNDER_CONSTRUCTION       235608
RERA                     235608
BHK_NO.                  235608
BHK_OR_RK                235608
SQUARE_FT                235608
READY_TO_MOVE            235608
RESALE                   235608
ADDRESS                  235608
LONGITUDE                235608
LATITUDE                 235608
TARGET(PRICE_IN_LACS)    235608
dtype: int64

In [50]:
total = df.memory_usage(deep=True).sum()
print("Total memory used:", total, "bytes")

Total memory used: 7309319 bytes