In [2]:
import numpy as np 
import pandas as pd

## Creating dataframe

In [4]:
# using list 
student_data=[[87,56,6],
              [96,46,7],
              [78,86,9]]
pd.DataFrame(student_data,columns=['iq','marks','cgps'])

   iq  marks  cgps
0  87     56     6
1  96     46     7
2  78     86     9